In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("Berlin-tram-route - Sheet1.csv")
df

,route,M1,M2,M4,M5,M6,M8,M10,12,M13,...,21,27,37,50,60,61,62,63,67,68
0,M1,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,M2,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M4,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M5,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M6,NaN,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,M8,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,M10,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,12,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,M13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,16,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,M17,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
11,18,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,21,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
13,27,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
14,37,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
15,50,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0
17,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
18,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0
19,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0
20,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0
21,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN

In [5]:
df.keys()

Index(['route', 'M1', 'M2', 'M4', 'M5', 'M6', 'M8', 'M10', '12', 'M13', '16',
       'M17', '18', '21', '27', '37', '50', '60', '61', '62', '63', '67',
       '68'],
      dtype='object')

In [6]:
# define list of different colours 
colours=["red", "blue", "yellow", "green", "orange", "white", "brown", "black", "gold", "cyan", "magenta", "silver", "pink", "crimson", "coral", "maroon", "olive", "plum", "sepia", "turquoise", "violet", "purple"]
print(len(colours))

22

In [7]:
# define sequence in which you select route
route=['M1', 'M2', 'M4', 'M5', 'M6', 'M8', 'M10', '12', 'M13', '16', 'M17', '18', '21', '27', '37', '50', '60', '61', '62', '63', '67', '68']

In [8]:
# Empty dictionary to store route and its colour
Assignment={'M1': '', 'M2': '', 'M4': '', 'M5': '', 'M6': '', 'M8': '', 'M10': '', '12': '', 'M13': '', '16': '', 'M17': '', '18': '', '21': '', '27': '', '37': '', '50': '', '60': '', '61': '', '62': '', '63': '', '67': '', '68': ''}
print(Assignment)

{'M1': '', 'M2': '', 'M4': '', 'M5': '', 'M6': '', 'M8': '', 'M10': '', '12': '', 'M13': '', '16': '', 'M17': '', '18': '', '21': '', '27': '', '37': '', '50': '', '60': '', '61': '', '62': '', '63': '', '67': '', '68': ''}

In [9]:
N=len(df)
print(N)
no=len(route)
last=0
Assignment['M1']=colours[last]
for i in range(no):
  # list of feasible routes
  feasible_colours=colours.copy()
  # write code here for checking for intersection
  for j in range(i):
    flag=0
    if(df.iat[i,j+1]!=1):
      col=Assignment[route[j]]
      c=0
      for k in range(i):
        if col==Assignment[route[k]]:
          if df.iat[i,k+1]==1:
            c=c+1
      if c==0:
        flag=1
        Assignment[route[i]]=col
        break
    if flag==0 and j==i-1:
      last=last+1
      Assignment[route[i]]=colours[last]

  # write code here for deleting some colours from feasible_colours
feasible_colours=feasible_colours[0:last+1]  

  # write code here for storing route and its colour in Assignment dictionary
print(Assignment)  
print(feasible_colours)
print("Number of colours needed are:", len(feasible_colours))

22
{'M1': 'red', 'M2': 'red', 'M4': 'blue', 'M5': 'yellow', 'M6': 'green', 'M8': 'orange', 'M10': 'white', '12': 'yellow', 'M13': 'brown', '16': 'red', 'M17': 'blue', '18': 'red', '21': 'yellow', '27': 'white', '37': 'red', '50': 'blue', '60': 'green', '61': 'red', '62': 'blue', '63': 'yellow', '67': 'orange', '68': 'white'}
['red', 'blue', 'yellow', 'green', 'orange', 'white', 'brown']
Number of colours needed are: 7